# Python
__pycache__/
*.pyc

# virtual environments
tts_env/
venv/
env/

# Models
*.pt
*.pth
*.bin
*.onnx
*.safetensors
*.ckpt

# datasets
datasets/
data/

# logs
*.log
logs/

# Jupyter
.ipynb_checkpoints